.background{
    background-color: black;
    width:80%;
    height: 780px;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
}

.nav-bar{
    background-color: blue;
    width: 100%;
    height: 80px;
    margin-bottom: 15px;
}

footer{
    margin-top: 20px;
    background-color: blue;
    width: 100%;
    height: 60px;
}
